{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block content %}
<form method='POST' action=''>{% csrf_token %}
  <h4 class="text-primary">Your svcover.nl profile.</h4>
  <!-- <br/> -->
  <table class='table'>
    <tr>
      <td>Cover ID</td>
      <td>{{request.user.cover_id}}</td>
    </tr>
    <tr>
      <td>Cover email</td>
      <td>{{request.user.email}}</td>
    </tr>
    <tr>
      <td>Name</td>
      <td>{{request.user.full_name}}</td>
    </tr>
  </table>
  <p><a class='btn btn-primary' href='https://www.svcover.nl/profiel.php?lid={{request.user.cover_id}}'>Change on svcover.nl</a></p>
  <br/>

  <h4 class="text-primary">Update your profile settings</h4>
  {{ form|crispy }}
  <br/>

  <input class='btn btn-primary' type='submit' value='Submit changes' />
</form>
{% endblock %}
