{% load cover_session %}

<nav class="navbar navbar-cover" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button class="navbar-toggle collapsed navicon-button"
        data-toggle="collapse" href="#navbar-main-collapse"
        aria-expanded="false" aria-controls="navbar-main-collapse">
        <span class="navicon navicon-white"></span>
      </button>
      <a href="https://www.svcover.nl" class="navbar-logo">
        <img src="//cdl.svcover.nl/dist/v0.1/img/cover.png" alt="Cover">
      </a>
      <a class="navbar-brand" href="/">CACTuS</a>
    </div>

    <div id="navbar-main-collapse" class="navbar-collapse collapse">
      <ul class="navbar-right">
        {% if not user.is_anonymous and not user.is_unknown %}
          {% if not user_is_tutor %}
            <li><a href="{% url 'tutors:offer_create'%}">Become a Tutor</a></li>
          {% endif %}
          <li><a href="{% url 'tutors:offer_list' %}">Tutors</a></li>
          <li><a href="{% url 'tutors:request_list' %}">Requests</a></li>
          <li><a href="{% url 'messages:conversation_list' %}">Inbox</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"
                                                role="button" aria-haspopup="true"
                                                aria-expanded="false">
              <i class="fa fa-angle-down"></i>
            </a>
            <ul class="dropdown-menu">
              <li><a href="{% url 'terms_conditions' %}"><i class="fa fa-fw fa-gavel" aria-hidden="true"></i> Terms and conditions</a></li>
              {% if user.is_staff %}
                <li><a href="/admin/"><i class="fa fa-fw fa-cogs" aria-hidden="true"></i> Admin</a></li>
              {% endif %}
              <li class="divider" role="separator"></li>
              <li class="dropdown-header"> Logged in as {{request.user.full_name}}</li>
              {% if user_is_tutor %}
                <li><a href="{% url 'tutors:offer_update' %}"><i class="fa fa-fw fa-user" aria-hidden="true"></i> Profile</a></li>
              {% else %}
                <li><a href="{% url 'CoverAccounts:settings'%}"><i class="fa fa-fw fa-user" aria-hidden="true"></i> Profile</a></li>
              {% endif %}
              <li><a href="{% cover_logout_url %}"><i class="fa fa-fw fa-sign-out" aria-hidden="true"></i> Sign out</a></li>
          {% elif user.is_anonymous %}
              <li><a href="{% cover_login_url next_url='tutors:offer_list' %}">Login</a></li>
          {% endif %}
          </ul>
      </ul>
    </div><!--/.nav-collapse -->
  </div><!--/.container-fluid -->
</nav>
