{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block head_title %}Legal{% endblock %}

{% block container %}

<div class="alert alert-info">
  <p><b><a href='#terms-english'>Please find the english version below.</a></b></p>
</div>

<hr />
<h1 id='terms-dutch'> Algemene voorwaarden.</h1>
<p>Dit systeem en de mensen die dit systeem bouwen en onderhouden (“wij”, “onze”, “systeem”), faciliteren de communicatie tussen zij die bijles nodig hebben en mensen die bijles krijgen (samen “Gebruikers”). Wij verzoeken u vriendelijk de voorwaarden te lezen en zo te begrijpen waar het systeem voor bedoeld is. U gaat akkoord met deze voorwaarden door het systeem te openen en/of te gebruiken. Alle gebruikers zijn verplicht zich te houden aan de Nederlandse wet en de wet van het land waar de gebruiker zich bevindt. Mogelijk zijn gebruikers ook gebonden aan de wet van het land waar zij burger van zijn. Naar elke gebruiker die bijles levert via onze service, zal worden gerefereerd als “Tutors”. Naar elke gebruiker die bijles vraagt via ons systeem, zal worden gerefereerd als “Studenten”.</p>

<p>Het systeem is toegestaan de algemene voorwaarden bij te werken en aan te passen binnen de grenzen van de Nederlands wet zonder de toestemming van gebruikers.</p>

<p>Dit systeem is eigendom van Study Association Cover (“Cover”) en de regels en voorschriften, welke kunnen worden gevonden op www.svcover.nl, zijn van toepassing op dit systeem.</p>

<h3>Registratie</h3>
<p>Het gebruik en toegang van dit systeem is alleen bestemd voor de leden van Cover. Om het systeem te kunnen gebruiken, geven gebruikers hun persoonlijke informatie, die beschikbaar is bij Cover, op. Gebruikers staan toe dat dit systeem toegang heeft tot deze informatie, onder welke zijn naam, huisadres en E-mailadres vallen. Gebruikers staan toe dat zij berichten kunnen krijgen en verzenden met deze persoonlijke informatie.</p>

<h3>Het gebruik van dit system</h3>
<p>Als het systeem gebruikt wordt, dan bevestig je dat je ten minste 16 jaar oud bent. Je bevestigt dat je lid van Cover bent. Het gebruik van het systeem geeft aan dat gebruikers instemmen met deze punten en deze algemene voorwaarden.</p>

<h3>Privacygevoelige informatie</h3>
<p>Om de service te verlenen waar dit systeem voor bedoeld is, is privacygevoelige informatie nodig. Deze informatie is reeds ingediend door de gebruiker bij Cover. Deze informatie bevat privé mailadressen, naam, huisadres en meer. Dit systeem heeft niet alle informatie nodig maar heeft er wel toegang toe. </p>
<p>In het geval dat dit systeem of Cover slachtoffer is van datadiefstal van welke aard dan ook, zijn de mensen die werken aan dit systeem, het systeem zelf, Cover en de Rijksuniversiteit van Groningen niet verantwoordelijk en kunnen daarom niet vervolgd worden. </p>
<p>Anonieme informatie over het systeem kan en mag worden verzameld en gebruikt voor aanpassingen van de service en voor de activiteiten georganiseerd door de StudCee Commissie van Cover. Er kunnen geen rechten worden ontleend aan deze informatie. Verantwoordelijkheid voor verliezen van welke soort dan ook moeten door de gebruikers worden geaccepteerd.<p>

<h3>Aansprakelijkheid</h3>
<p>In geen enkel geval kan het systeem, de mensen die aan het systeem werken en Cover verantwoordelijk worden geacht voor verliezen door het gebruik van het systeem. Bijvoorbeeld, als een persoon zich niet schikt naar enige financiële overeenkomst tussen een student en een tutor, dan is het systeem hier niet verantwoordelijk voor. Het systeem behoudt het recht om individuen te weigeren en te blokkeren van het systeem, permanent of niet. Door het gebruik van dit systeem accepteren gebruikers deze voorwaarden.</p>
<p>Afspraken over welke vorm van compensatie dan ook zijn niet legaal bindend door het gebruik van ons systeem. Deze afspraken kunnen wel legaal bindend zijn op andere wijzen. Gebruikers die niet een of meerdere keer hun afspraken niet nakomen, kunnen, permanent of niet, worden geweigerd door het systeem. Deze weigering kan niet worden opgeheven door middel van rechtsgang. Wij zijn niet verantwoordelijk voor enige illegale acties die het resultaat zijn van compensaties en illegale compensaties zelf. Enkel ter herinnering, adviseren wij tutors die hun service hun verdiensten op te geven bij de belastingdienst waar zij verantwoording aan moeten afleggen.</p>
<p>Tutors of het systeem zijn niet verantwoordelijk voor het behalen van examens of andere toetsmomenten. In alle gevallen is het de verantwoordelijkheid van de student dat deze al dan niet zijn examens haalt. </p>

<h3>Onbehaaglijk gedrag</h3>
<p>Alle gevallen van ongepast gedrag kunnen resulteren in een permanent verbanning uit het systeem, welke niet kunnen worden herroepen door rechtsgang. In elk geval van juridische vervolging zal dit systeem meewerken met het opgeven van privacygevoelige informatie welke mogelijk bewaard worden in de database. Dit is inclusief privéberichten en persoonlijke informatie. De mensen die werken aan dit systeem hebben altijd het recht om mensen te verbannen uit het systeem, zonder enige vorm van onderbouwing. </p>

<h3>Schadelijke activiteiten</h3>
<p>Het is niet toegestaan om activiteiten te ondernemen die het systeem kapot maken of ondermijnen en ook is het niet toegestaan hier anderen bij te ondersteunen. Gebruikers mogen dit systeem niet kopiëren, aanpassen, distribueren of reverse-engineering toepassen om iets anders te doen dan waar het systeem voor bedoeld is. Gebruikers mogen geen code extraheren of reverse-engineering toepassen op het systeem. Gebruikers hebben geen toestemming om kwalijke software te versturen of te verspreiden door dit systeem. Gebruikers mogen dit systeem niet verhuren of verkopen. </p>

<h3>DISCLAIMER</h3>
<p>U GEBRUIKT DEZE SERVICE OP UW EIGEN RISICO.</p>

<hr id="terms-english" />
<br/>
<h1>Terms of service</h1>
<p>By law, the Dutch version is legally binding. We are not responsible for any mistakes in translation. </p>

<p>The service and the people building and managing the service (“we”, “our”, “us”, “service”)  facilitates the communication between those who need tutoring and tutors (together “Users”). Please, read the terms of service to so understand what our service is about. You agree to these terms by accessing and using our service or its features via our website (together “services”). In all cases users are required to obey the Dutch law and the law in the country from which users use the service. Any user that offers tutoring sessions using our service will be referred to as “Tutors”. Any user that requests tutoring using our system will be referred to as “Students”. The service is allowed to update and altered these terms without the boundaries of the Dutch law without your acknowledgement. </p>
<p>This service is owned by Study Association Cover (“Cover”) and the rules and regulations, which can be found on www.svcover.nl, apply to this service. </p>

<h3>Registration</h3>
<p>Using and accessing the service is only allowed for members of Cover. To use and access the service, users have to give up their personal information which is available by Cover. You agree that this service is allowed access to all or some of this information including name, home address, Email address. You agree to receive and send messages using this personal information. </p>

<h3>Using the service.</h3>
<p>When using this service, you confirm that you are at least 16 years old. You confirm that you are a member of Cover and a member of the Rijksuniversiteit Groningen. Using the system you confirm to apply to these points and this terms of condition. </p>

<h3>Private information</h3>
<p>For this system to provide the service that it is build for, some private information might be necessary. This information is already submitted by the user to the Cover. This information contains private E-mail address, name, address and more. The service does not need all information but has access to it.
In case of this service or Cover is the victim of a data theft crime of any sorts, the people working for this service, the service itself, the study union and University of Groningen are not liable and can therefore not be prosecuted.</p>
<p>Anonymous information about using the service may be collected and used for improvements of the service and the activities arranged by the Studcee Committee, which is part of Cover. No rights may be derived from this information and liability for losses of any kind are to be accepted by the person using this service.</p>

<h3>Liability</h3>
<p>In no case the service, the people building and managing the service and Cover can be found liable for losses due to usage of the service. For example, if a person does not comply with any financial agreement between a student and a tutor, the service is not liable. However, it might be decided that an individual that does not comply will be banned from the service, permanently or not. By using this service you accept and agree to these terms.</p>
<p>Agreements about any kinds of payments are not legally binding. However, it might result in a permanent ban of the service if individuals do not adhere to agreements on one or multiple occasions. Bans, permanent or not, can under no circumstance be revoked through court of law. We are not responsible for any illegal actions that may result from any kind of payment or illegal payments themselves. Only as a reminder we advise that tutors who offer their services regularly should make their received payments known to the tax authorities to which they must answer.</p>
<p>Tutors or the service are not liable for passing any exams. This is in all cases the responsibility of the student who wants to pass exams.</p>

<h3>Dishonest behaviour</h3>
<p>Any case of inappropriate behaviour may result in a permanent ban of this service, which can not be revoked through court of law. In the case of legal prosecution this service will comply with any demand for private information that it might have in storage, included private messages and  personal information. The people building and managing the service always reserve the right to ban, permanently or not, users from this service without any form of justification.</p>

<h3>Harmful activities</h3>
<p>You must not or assist others in any harmful activities to destroy or altered the service. You may not copy, alter, distribute or reverse-engineer this service to do anything other than what it has been build for. You may no reverse engineering or alter, extract code from the services. You may not send or spread harmful software to the service or via the service. You may not disrupted the performance of the service through harmful activities. You may not sell, rent or charge for our Services. </p>

<h3>DISCLAIMER</h3>
<p>YOU USE THIS SERVICE ON YOUR OWN RISK.</p>
{% endblock %}
