{% extends "CoverAccounts/settings.html" %}

{% load crispy_forms_tags %}

{% block head_title %}
Update profile
{% endblock %}

{% block extratext %}
  This is also the place to make changes to your tutor profile, so you can add
  courses/languages and update your description.
{% endblock %}

{% block extrasettings %}
  <h4 class="text-primary">Update your tutoring offer</h4>
  <div class="alert alert-info">
    <p><strong>Info:</strong> Select multiple items by keeping the Command /
    Option key pressed.</p>
  </div>
  {{ offer_form|crispy }}
  <br/>
{% endblock %}



{% block extrabuttons %}
  <h4>Permanently remove your tutoring offer</h4>
  <p><a href="{% url 'tutors:offer_delete' %}" class="btn btn-danger">Delete</a></p>
{% endblock %}
