{% load cover_util %}
<style type="text/css">
a {
  color:#36749D;
}
</style>

<div style="font-family: sans-serif;">
  <h1 style="color:#C8102E;">Good morning {{user.first_name}}!</h1>
  <p>Here is what happened yesterday on CACTuS, Cover's tutor finder.</p>
  <p>To summarize, you have {{n_conversations}} ongoing {% if n_conversations > 1 %}conversations{% else %}onversation{%endif%} with unread messages. Here they are:</p>
  <div style="background:#DADADA; margin: 20px 0px; padding: 0px 20px 20px 20px;">{% for conv in conversations %}
  <h3 style="padding-top: 20px;">{{conv.subject}}</a></h3>
  <table>
    {% for msg in conv.last_5_messages %}
    <tr>
      <td>{% cover_user_name user=msg.sender personalise=True current_user=user %}:&nbsp;&nbsp;&nbsp;</td>
      <td>{{msg.message}}</td>
    </tr>
    {% endfor %}
    <tr>
      <td><a href="https://tutoring.svcover.nl/messages/{{conv.pk}}">Reply</a></td>
      <td></td>
    </tr>
  </table>

  {% endfor %}

  </div>

  <h3>Can we do better?</h3>
  <p>Contact us via <a href="mailto:tutoring@svcover.nl">tutoring@svcover.nl</a> to give feedback or if you need help.</p>

<p style="margin-top:20px">Sincerely, </br> The StudCee </p>

  <p style="color:#666666; margin-top:20px"><i>You can unsubscribe from these emails on the CACTuS <a href="https://tutoring.svcover.nl/accounts/settings">settings</a> page.</i></p>
</div>
